{% extends "field.html.twig" %}
{#
/**
 * @file
 * This is not really a theme override but a base template for other paragraph
 * fields which want to extend this.
 *
 * We assume that most of the paragraph fields most of the time have single
 * values (they are not multi fields). This is why in our default templates
 * we render just first item.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
{% block field %}
  <div{{ attributes }}>{{ items[0].content }}</div>
{% endblock %}
