.alert {
  // Reset placeholder rules.
  .placeholder {
    background-color: transparent;
    opacity: 1;
    display: inline;
    min-height: inherit;
    vertical-align: baseline;
  }

  a {
    font-weight: 700;
    color: var(--bs-alert-link-color);
  }
}
