.card {
  // Use overflow hidden so we don't need to round media images in card.
  overflow: hidden;

  &--link {
    transition: $transition-base;

    &:hover,
    &:focus {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   }
  }
}
