.g-responsive {
  --bs-gutter-x: #{1.5*$spacer};
  --bs-gutter-y: #{1.5*$spacer};
}

// Margins.
.m {
  &-reset {
    --pe-margin: 0;
  }

  &-small {
    --pe-margin: #{$spacer};
  }

  &-standard {
    --pe-margin: #{2*$spacer};
  }

  &-large {
    --pe-margin: #{4*$spacer};
  }
}
