.page {
  &__header {
    margin-bottom: var(--pe-region-space, #{$spacer*2});
  }

  &__footer__copyright {
    padding-top: var(--pe-footer-padding-y, #{$spacer});
    padding-bottom: var(--pe-footer-padding-y, #{$spacer});

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.region {
  &-brand {
    .site-logo-link {
      max-width: var(--pe-site-logo-max-width, 100px);
      display: inline-block;
    }
  }

  &-navigation-bar {
    @include media-breakpoint-up(sm) {
      display: flex;
    }
  }

  &-content {
    min-height: var(--pe-region-content-min-height, 50vh);
  }

  &-content-header {
    margin-bottom: var(--pe-region-space, #{$spacer*2});
  }

  &-content {
    margin-bottom: var(--pe-region-space, #{$spacer*2});
  }
}

.block-page-title-block {
  margin-bottom: var(--pe-region-space, #{$spacer*2});
}
