.paragraph--type--separator {
  hr {
    --#{$prefix}border-width: 0;
    margin-top: calc(0.5 * var(--pe-margin, #{$spacer}));
    margin-bottom: calc(0.5 * var(--pe-margin, #{$spacer}));
  }
}

.container {
  // Container styles have bg color, we are applying padding from margin values.
  // of margin.
  &-style {
    padding-top: var(--pe-margin, #{$spacer});
    padding-bottom: var(--pe-margin, #{$spacer});

    // Container in grid column.
    @at-root .col > .container-style {
      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    // Container in container.
    .container-style {
      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  // Container follows container with the same style.
  &-style-unchanged {
    padding-top: 0
  }
}
