// Our ratio style rules are too far away in DOM so we need to bring some rules
// to actual elements so elements are getting correct layout dimensions.
// For now we support ratio rules on media and card types.
.ratio {
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  > .field--name-field-media {
    .media--type-image {
      .field__item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .img-fluid {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }

  &.paragraph--type--card {
    &::before {
      display: none;
    }

    .card {
      position: static;
    }

    .field__item {
      position: relative;

      &::before {
        display: block;
        padding-top: var(--#{$prefix}aspect-ratio);
        content: "";
      }
    }

    .img-fluid {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      max-height: 100%;
      object-fit: cover;
    }
  }
}
