{#
/**
 * @file
 * Base page template.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 * - main_attributes: Attributes of a main tag.
 * - page_content_attributes: Attributes of a page div tag.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% block header %}
  {% if page.top or page.brand or page.navbar %}
    <header role="banner" class="page__header">
      <div class="container">
        {{ page.top }}
        <div class="navbar">
          {{ page.brand }}
          {{ page.navigation_bar }}
        </div>
      </div>
    </header>
  {% endif %}
{% endblock %}
{% block main %}
  <main {{ main_attributes }}>
    <div class="visually-hidden" id="main-content" tabindex="-1"></div>
    <div {{ page_content_attributes }}>
      {% block content %}
        <div class="container pce-region-space">
          {{ page.content_header }}
        </div>
        {% if node and node.getType() == 'page' -%}
          {{ page.content }}
        {%- else -%}
          <div class="container">
            {{ page.content }}
          </div>
        {%- endif %}
        {{ page.content_footer }}
      {% endblock %}
    </div>
  </main>
{% endblock %}
{% block footer %}
  {% if page.footer or page.footer_copyright %}
    <footer role="contentinfo" class="page__footer">
      {% if page.footer or page.footer_second %}
        <div class="page__footer__content container">
          <div class="row">
            {% block footer_content %}
              {{ page.footer }}
            {% endblock %}
          </div>
        </div>
      {% endif %}
      {% if page.footer_copyright %}
        <div class="page__footer__copyright">
          <div class="container">
            {{ page.footer_copyright }}
          </div>
        </div>
      {% endif %}
    </footer>
  {% endif %}
{% endblock %}
