{% extends "paragraph.html.twig" %}
{% block content_inner %}
  <figure>
    <blockquote class="blockquote">
      {{ content.paragraphs_quote_text.0 }}
    </blockquote>
    {% if content.paragraphs_quote_author.0 %}
      <figcaption class="blockquote-footer">
        {{ content.paragraphs_quote_author.0 }}
      </figcaption>
    {% endif %}
  </figure>
{% endblock %}
