{% extends "paragraph.html.twig" %}
{% block content_inner %}
  <div class="card {{ content.paragraphs_link.0 ? 'card--link' }}">
    {% if content.field_media.0 -%}
      {{ content.field_media.0 }}
    {%- endif %}
    <div class="card-body">
      {% if content.paragraphs_title.0 -%}
        <h3 class="card-title">{{ content.paragraphs_title.0 }}</h3>
      {%- endif %}
      {% if content.paragraphs_text.0 -%}
        <div class="card-text">
          {{ content.paragraphs_text.0 }}
        </div>
      {%- endif %}
      {{ content.paragraphs_link.0 }}
    </div>
  </div>
{% endblock %}
