{#
/**
 * @file
 * Theme override for a 'radios' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered radios.
 *
 * @see template_preprocess_radios()
 *
 * @ingroup themeable
 */
 Note that this exist only so we can reset bottom margin of radio/checkbox
 form-group in form checkboxes and radios. Core is doing this a bit messy
 and until radios/checkboxes wrapper are normalized with container we need
 to take care of this.
 @todo: change this file once https://www.drupal.org/node/1819284 is resolved.
 @see also https://www.drupal.org/project/drupal/issues/2041825.
#}
<div{{ attributes.addClass('form-radios') }}>{{ children }}</div>
