{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% block breadcrumb %}
  {%- if breadcrumb -%}
    <nav role="navigation" aria-labelledby="system-breadcrumb">
      <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
      <ol class="breadcrumb">
        {%- for item in breadcrumb -%}
          <li class="breadcrumb-item {{ not item.url ? 'active' }}">
            {%- if item.url -%}
              <a href="{{ item.url }}">{{ item.text }}</a>
            {%- else -%}
              {{ item.text }}
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ol>
    </nav>
  {%- endif -%}
{% endblock %}
