{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('nav').addClass('nav-links') }}>
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      {%
        set classes = [
          'nav-item',
          item.is_expanded ? 'nav-item--expanded',
          item.is_collapsed ? 'nav-item--collapsed',
        ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
        {# Notice that we are adding nav-link only if item is visually not a button. #}
        {%
          set link_attributes = {
            'class': [
              'btn' not in item.url.options.attributes.class ? 'nav-link',
              item.in_active_trail ? 'active',
            ]
          }
        %}
        {# When menu item URL has a no-link attribute we will render this item
           as a plain text. #}
        {%- if 'no-link' in item.url.options.attributes.class -%}
          <div {{ create_attribute(link_attributes).addClass(item.url.options.attributes.class) }}><span class="label">{{ item.title }}</span></div>
        {%- else -%}
          {{- link({'#markup': '<span class="label">' ~ item.title ~ '</span>'}, item.url, link_attributes) -}}
        {%- endif -%}
        {%- if item.below -%}
          {{- menus.menu_links(item.below, attributes, menu_level + 1) -}}
        {%- endif -%}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
