{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}
{% do attributes.addClass(['navbar-brand']) %}
{% block content %}
  {% if site_logo -%}
    <a href="{{ path('<front>') }}" class="site-logo-link" title="{{ 'Back to home'|t }}" aria-label="{{ 'Back to home'|t }}">
      <img src="{{ site_logo }}" class="img-fluid" />
    </a>
  {%- endif %}
  {% if site_name -%}
    <a href="{{ path('<front>') }}" title="{{ 'Back to home'|t }}" class="site-name">{{ site_name }}</a>
  {%- endif %}
  {% if site_slogan -%}
    <div class="site-slogan">{{ site_slogan }}</div>
  {%- endif %}
{% endblock %}
